<!DOCTYPE html>
<html class="no-script">
  <head>
    <meta charset="UTF-8">
    <title>Product 1</title>
    <%- partial("../_head") %>
  </head>
  <body>
    <a href="/">Back</a>
    <h1>Product 1</h1>

    <div id="product-variations-container">
      <%- partial("../_product-variation-nav", {id: "1", current: "Black"}) %>
      <div>
        Black
      </div>
    </div>

    <%- partial("../_add-to-shopping-cart") %>

    <div class="tabs" id="product-info-tabs-container">
      <%- partial("../_product-info-nav", {id: "1", current: "Ratings"}) %>
      <div>
        Ratings
      </div>
    </div>

    <%- partial("../_shopping-cart") %>

    <%- partial("../_before-body-scripts") %>
  </body>
</html>