<!DOCTYPE html>
<html class="no-script">
  <head>
    <meta charset="UTF-8">
    <title>Product 1</title>
    <%- partial("../_head") %>
  </head>
  <body>
    <a href="/">Back</a>
    <h1>Product 1</h1>

    <div id="product-variations-container">
      <div class="red">
        <%- partial("../_product-variation-nav", {id: "1", current: "Red"}) %> 
        <div>
          Red as a rose, like love, like a dream
        </div>
      </div>
    </div>

    <%- partial("../_add-to-shopping-cart") %>

    <div class="tabs" id="product-info-tabs-container">
      <div class="blue">
        <%- partial("../_product-info-nav", {id: "1", current: "Related"}) %>
        <div>
          Coming soon to a pjax container near you
        </div>
      </div>
    </div>

    <%- partial("../_shopping-cart") %>

    <%- partial("../_before-body-scripts") %>
  </body>
</html>